/**
 * Place your custom styles here.
 */

.navbar-default {
    background-color: #0F6BB6;
    border-color: transparent;
    border-radius: 0px;
}

.logo img {
    width: 200px;
}

h3 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #444;
}

h1.page-header {
    font-size: 26px;
    font-weight: bold;
    COLOR: #0ea229;
    TEXT-ALIGN: CENTER;
    padding-bottom: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.icon {
    width: 33px;
}

.money {
    font-weight: bold;
}

.relief-item {
    text-align: center;
}

.relief-item .title {
    font-weight:bold;
    color: #1D5CB1;
    margin-bottom: 10px;
    min-height: 100px;
}


.thumb img {
    display: block;
    max-width: 80%;
    max-height: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.thumb {
    min-height: 100px;
    overflow: hidden;
}

.seemore {
    border: 1px solid #1D5CB1;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}